
<% for (var i=0; i < messages.length; i++){ %>
	<div class="user_name">
		<%=messages[i].user_name%>:
		<%=messages[i].message_text%>
		<%=messages.user_name%><%=messages.message_text%>
	</div>
<% } %>

